<div class="card">
    <div class="card-header">

        <h5 class="card-title float-left">{{title}}</h5>
        <h8 class="card-subtitle mb-2 float-right">Posted by {{user.first_name}} {{user.last_name}} on {{formatDate created_at}}</h6>
    </div>         
    <div class="card-body">  
        <p class="card-text">{{content}}</p>
    </div>   
    
</div>  