<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <h2 class="card-title">{{user.username}}</h2>
        <p class="card-text">{{user.biography}}</p>
      </div>
      <img src="{{user.profilePicture}}" class="rounded-circle" alt="Profile picture" style="width: 60px; height: 60px;">
    </div>
    <hr>
    <h5 class="card-title">Posts</h5>
    {{#each user.posts as |post|}}
      <div class="timeline-item">
        <h6 class="timeline-title">{{post.title}}</h6>
        <p class="timeline-date">{{post.date}}</p>
        <p class="timeline-content">{{post.content}}</p>
      </div>
      <hr>
    {{/each}}
  </div>
</div>